#main_home h2 {
  font-size: 3rem;
}
.game_board {
  /*area do game*/
  background: linear-gradient(#07ceeb, #e6f6ff);
  position: relative;
  overflow: hidden;
  border-bottom: 15px solid rgb(32, 141, 32);
  height: 80vh;
  width: 100%;
}

#mario {
  width: 150px;
  position: absolute;
  bottom: 0;
}
.jump {
  animation: marioMove 600ms infinite linear;
}
#pipe {
  width: 80px;
  position: absolute;
  bottom: 0;
  right: -200px;
}
.animaPipe {
  animation: pipeMove 1.5s infinite linear;
}
#clounds {
  width: 400px;
  position: absolute;
  top: 0;
  right: -500px;
}
.animaClouds {
  animation: clounds_move 20s infinite linear;
}
.parede {
  height: 20vh;
  background-image: url('/img/paredemario.png');
  background-repeat: repeat;
  background-position: left;
  background-size: contain;
}
#play{
  height: 200px;
  width: 200px;
  background-color: rgba(0, 0, 255, 0.45);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 30%;
  left: 0;
  gap: 15px;

}
#play button {
  width: 100px;
  height: 50px;
  border-radius: 10%;
  font-size: 2rem;
  background-color: var(--secondary_color);
  cursor: pointer;
}
.score {
  color: var(--secondary_color);
  font-size: 2rem;
  background-color: #e6f6ff;
  border: 1px solid var(--secondary_color);
  padding: 3px 5px;
  width: 100%;

}
#boxScore {
  position: absolute;
  right: 30px;
}
#boxScore h2 {
  font-size: 2rem;
}
@keyframes clounds_move {
  0% {
    right: -500px;
  }
  100% {
    right: 100%;
  }
}

@keyframes pipeMove {
  0% {
    right: -200px;
  }
  100% {
    right: 100%;
  }
}
@keyframes marioMove {
  0% {
    bottom: 0px;
  }
  40% {
    bottom: 150px;
  }
  50% {
    bottom: 200px;
  }
  60% {
    bottom: 150px;
  }
  80% {
    bottom: 100px;
  }
  100% {
    bottom: 0px;
  }
}
